::selection {
  color: white;
  background: pink;
}

::-webkit-scrollbar {
  width: 12px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: pink;
  background-clip: content-box;
  transition: background-color 300ms;

  &:hover {
    background-color: #bdbdbdbb;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: karla, sans-serif;
  position: relative;
}

p {
  line-height: 1.6;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

@media (min-width: 1080px) {
  .wrapper {
    width: 80%;
  }
}

a {
  text-decoration: none;
  color: #ff7171;
}

a:hover {
  color: #ff4747;
}

nav {
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  position: fixed;
}

nav .menu {
  display: none;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: #ff868c;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .menu li {
  list-style: none;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu li a {
  color: #fff;
  margin: auto;
  width: auto;
  background: none;
  font-size: 2.9rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

nav .menu li a:hover, nav .menu li a:focus, nav .menu li a:active {
  color: #ca323e;
}

.menu-toggle {
  top: 24px;
  z-index: 2;
  right: 30px;
  width: 22px;
  height: 20px;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
}

.menu-toggle span {
  height: 4px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  background: #e96269;
  border-radius: 2px;
  white-space: nowrap;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.menu-toggle::before, .menu-toggle::after {
  left: 0;
  content: "";
  width: 22px;
  height: 4px;
  background: #e96269;
  border-radius: 2px;
  position: absolute;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: width 0.2s ease-in-out, background 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: width 0.2s ease-in-out, background 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
  transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.menu-toggle::before {
  top: 0;
}

.menu-toggle::after {
  bottom: 0;
}

.menu-toggle.menu-open span {
  background: rgba(255, 255, 255, 0);
}

.menu-toggle.menu-open::before {
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-toggle.menu-open::after {
  bottom: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-toggle.menu-open::before, .menu-toggle.menu-open::after {
  width: 26px;
  background: #fff;
}

.menu-toggle.menu-open:hover span, .menu-toggle.menu-open:focus span, .menu-toggle.menu-open:active span {
  background: rgba(255, 255, 255, 0);
}

.menu-toggle.menu-open:hover::before, .menu-toggle.menu-open:focus::before, .menu-toggle.menu-open:active::before {
  top: 8px;
  left: -3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-toggle.menu-open:hover::after, .menu-toggle.menu-open:focus::after, .menu-toggle.menu-open:active::after {
  left: 9px;
  bottom: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-toggle.menu-open:hover::before, .menu-toggle.menu-open:hover::after, .menu-toggle.menu-open:focus::before, .menu-toggle.menu-open:focus::after, .menu-toggle.menu-open:active::before, .menu-toggle.menu-open:active::after {
  width: 18px;
}

.menu-toggle:hover span, .menu-toggle:focus span, .menu-toggle:active span {
  background: rgba(255, 255, 255, 0);
}

.menu-toggle:hover::before, .menu-toggle:focus::before, .menu-toggle:active::before {
  top: 8px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-toggle:hover::after, .menu-toggle:focus::after, .menu-toggle:active::after {
  left: 9px;
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-toggle:hover::before, .menu-toggle:hover::after, .menu-toggle:focus::before, .menu-toggle:focus::after, .menu-toggle:active::before, .menu-toggle:active::after {
  width: 18px;
}

header {
  height: 100vh !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 780px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 85vh;
  }
}

header .imageContainer {
  width: 80%;
  max-width: 230px;
}

header .imageContainer img {
  width: 100%;
}

header .headerText {
  z-index: 1;
}

header .headerText h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px 0;
  color: #e96269;
  position: relative;
  max-width: 200px;
  width: 80%;
}

@media (min-width: 780px) {
  header .headerText h1 {
    font-size: 4rem;
    max-width: 400px;
  }
}

header .headerText h1 span {
  display: block;
}

@media (min-width: 780px) {
  header .headerText h1 span {
    display: inline;
  }
}

header .headerText h1::after {
  content: "";
  position: absolute;
  background-color: #ffe9e9;
  -webkit-box-shadow: 0 0 8px #ffd6d6;
          box-shadow: 0 0 8px #ffd6d6;
  height: 15px;
  left: 8px;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

@media (min-width: 780px) {
  header .headerText h1::after {
    height: 23px;
  }
}

header .scrollDownText {
  position: absolute;
  text-align: center;
  padding-top: 90vh;
  font-family: "Nanum Pen Script", "cursive";
  font-size: 23px;
  color: #e96269;
  z-index: -11;
}

header .fa-angle-down {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header p {
  color: #696969;
  font-size: 2rem;
  font-weight: 400;
  width: 100%;
  position: relative;
}

@media (min-width: 780px) {
  header p {
    width: 80%;
  }
}

header p span {
  color: #e96269;
}

header p .smallerText {
  font-family: "Nanum Pen Script", "cursive";
  color: #b3b3b3;
}

.aboutMe {
  min-height: 500px;
  height: 80%;
  padding: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutMe h2 {
  font-size: 3rem;
  color: #e96269;
  position: relative;
  margin: 0;
}

.aboutMe h2::after {
  content: "";
  position: absolute;
  background-color: #ffe9e9;
  -webkit-box-shadow: 0 0 8px #ffd6d6;
          box-shadow: 0 0 8px #ffd6d6;
  height: 18px;
  left: 5px;
  bottom: 0;
  width: 180px;
  z-index: -1;
}

.aboutMe .aboutMeTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

@media (min-width: 780px) {
  .aboutMe .aboutMeTop {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.aboutMe .aboutMeTop .aboutMeBio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutMe .aboutMeTop .aboutMeBio p {
  font-size: 1.8rem;
  color: #696969;
}

.aboutMe .aboutMeTop .aboutMeImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.aboutMe .aboutMeTop .aboutMeImage img {
  border-radius: 100% !important;
  border: 4px solid pink;
}

@media (min-width: 780px) {
  .aboutMe .aboutMeTop .aboutMeImage {
    margin-left: 5%;
    width: 120%;
  }
}

@media (min-width: 1080px) {
  .aboutMe .aboutMeTop .aboutMeImage {
    width: 80%;
  }
}

.aboutMe .aboutMeTop .aboutMeImage img {
  width: 100%;
  border-radius: 10px;
}

.skills {
  font-family: "Nanum Pen Script", "cursive";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto 60px auto;
  padding: 20px 0;
}

@media (min-width: 780px) {
  .skills {
    width: 90%;
    margin-bottom: 100px;
  }
}

.skills li {
  list-style: none;
  width: 80px;
  text-align: center;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

@media (min-width: 780px) {
  .skills li {
    margin: 0 20px;
    width: 120px;
  }
}

.skills li img {
  width: 40px;
  margin-bottom: 5px;
}

@media (min-width: 780px) {
  .skills li img {
    width: 50px;
  }
}

main {
  margin-top: 100px;
}

.hideDesktop {
  display: block;
}

@media (min-width: 540px) {
  .hideDesktop {
    display: none;
  }
}

.hideMobile {
  display: none;
}

@media (min-width: 540px) {
  .hideMobile {
    display: block;
  }
}

.notesText {
  position: absolute;
  text-align: left;
  margin: -50px auto;
  max-width: 1080px;
  width: 80%;
  left: 0;
  right: 0px;
  font-family: "Nanum Pen Script", "cursive";
  font-size: 21px;
  color: #e96269;
}

.smallerText {
  font-family: "Nanum Pen Script", "cursive";
  color: #b3b3b3;
}

.smallerTextContact {
  font-family: "Nanum Pen Script", "cursive";
  color: #696969;
}

.portfolioProjects {
  margin: 0 0 100px 0;
  overflow: hidden;
}

video:hover {
  cursor: pointer;
}

.overlayOne,
.overlayTwo,
.overlayThree,
.overlayFour {
  margin: 0 auto;
  position: absolute;
  width: 90%;
  height: 350px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  display: none;
}

.overlayOne.active,
.overlayTwo.active,
.overlayThree.active,
.overlayFour.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

@media (min-width: 540px) {
  .overlayOne,
  .overlayTwo,
  .overlayThree,
  .overlayFour {
    height: 400px;
  }
}

.overlayOne .closeOverlayOne,
.overlayOne .closeOverlayTwo,
.overlayOne .closeOverlayThree,
.overlayOne .closeOverlayFour,
.overlayTwo .closeOverlayOne,
.overlayTwo .closeOverlayTwo,
.overlayTwo .closeOverlayThree,
.overlayTwo .closeOverlayFour,
.overlayThree .closeOverlayOne,
.overlayThree .closeOverlayTwo,
.overlayThree .closeOverlayThree,
.overlayThree .closeOverlayFour,
.overlayFour .closeOverlayOne,
.overlayFour .closeOverlayTwo,
.overlayFour .closeOverlayThree,
.overlayFour .closeOverlayFour {
  color: white;
  position: absolute;
  right: 15px;
  top: 15px;
}

.overlayOne .closeOverlayOne:hover,
.overlayOne .closeOverlayTwo:hover,
.overlayOne .closeOverlayThree:hover,
.overlayOne .closeOverlayFour:hover,
.overlayTwo .closeOverlayOne:hover,
.overlayTwo .closeOverlayTwo:hover,
.overlayTwo .closeOverlayThree:hover,
.overlayTwo .closeOverlayFour:hover,
.overlayThree .closeOverlayOne:hover,
.overlayThree .closeOverlayTwo:hover,
.overlayThree .closeOverlayThree:hover,
.overlayThree .closeOverlayFour:hover,
.overlayFour .closeOverlayOne:hover,
.overlayFour .closeOverlayTwo:hover,
.overlayFour .closeOverlayThree:hover,
.overlayFour .closeOverlayFour:hover {
  color: #e96269;
  cursor: pointer;
}

.overlayOne .toolsUsed,
.overlayTwo .toolsUsed,
.overlayThree .toolsUsed,
.overlayFour .toolsUsed {
  width: 80%;
  font-size: 1.5rem;
  margin: 20px auto 0 auto;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.overlayOne .toolsUsed li,
.overlayTwo .toolsUsed li,
.overlayThree .toolsUsed li,
.overlayFour .toolsUsed li {
  list-style: none;
  background-color: white;
  color: #808080;
  padding: 5px 10px;
  margin: 5px;
  width: auto;
  border-radius: 50px;
}

.overlayOne .viewProject,
.overlayTwo .viewProject,
.overlayThree .viewProject,
.overlayFour .viewProject {
  font-size: 1.5rem;
  margin: 20px auto;
  padding: 10px 0;
  width: 80%;
  text-align: center;
  white-space: nowrap;
}

.overlayOne .viewProject a.button,
.overlayTwo .viewProject a.button,
.overlayThree .viewProject a.button,
.overlayFour .viewProject a.button {
  background-color: #ff7171;
  padding: 10px 15px;
  margin: 10px;
  width: auto;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.overlayOne .viewProject a.button:hover,
.overlayTwo .viewProject a.button:hover,
.overlayThree .viewProject a.button:hover,
.overlayFour .viewProject a.button:hover {
  background-color: #fff6f6;
  color: #ff7171;
}

@media (min-width: 780px) {
  .overlayOne {
    width: 54%;
  }
}

@media (min-width: 1080px) {
  .overlayOne {
    width: 48%;
  }
}

@media (min-width: 1352px) {
  .overlayOne {
    width: 648px;
  }
}

@media (min-width: 780px) {
  .overlayTwo {
    width: 33.5%;
  }
}

@media (min-width: 1080px) {
  .overlayTwo {
    width: 29.5%;
  }
}

@media (min-width: 1352px) {
  .overlayTwo {
    width: 399.59px;
  }
}

@media (min-width: 780px) {
  .overlayThree {
    width: 33.5%;
  }
}

@media (min-width: 1080px) {
  .overlayThree {
    width: 29.5%;
  }
}

@media (min-width: 1352px) {
  .overlayThree {
    width: 399.59px;
  }
}

@media (min-width: 780px) {
  .overlayFour {
    width: 54%;
  }
}

@media (min-width: 1080px) {
  .overlayFour {
    width: 48%;
  }
}

@media (min-width: 1352px) {
  .overlayFour {
    width: 648px;
  }
}

.portfolioOne,
.portfolioTwo,
.portfolioThree,
.portfolioFour {
  width: 100%;
  height: 350px;
  margin-bottom: 10%;
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: 540px) {
  .portfolioOne,
  .portfolioTwo,
  .portfolioThree,
  .portfolioFour {
    height: 400px;
  }
}

@media (min-width: 780px) {
  .portfolioOne,
  .portfolioTwo,
  .portfolioThree,
  .portfolioFour {
    margin-bottom: 3%;
  }
}

.portfolioOne a,
.portfolioTwo a,
.portfolioThree a,
.portfolioFour a {
  text-decoration: none;
}

.portfolioOne h3,
.portfolioOne p,
.portfolioTwo h3,
.portfolioTwo p,
.portfolioThree h3,
.portfolioThree p,
.portfolioFour h3,
.portfolioFour p {
  width: 90%;
  color: white;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 780px) {
  .portfolioOne h3,
  .portfolioOne p,
  .portfolioTwo h3,
  .portfolioTwo p,
  .portfolioThree h3,
  .portfolioThree p,
  .portfolioFour h3,
  .portfolioFour p {
    width: 70%;
  }
}

.portfolioOne h3,
.portfolioTwo h3,
.portfolioThree h3,
.portfolioFour h3 {
  font-size: 3rem;
  padding-bottom: 10px;
}

.portfolioOne p,
.portfolioTwo p,
.portfolioThree p,
.portfolioFour p {
  font-size: 1.6rem;
}

@media (min-width: 780px) {
  .firstRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.firstRow .portfolioOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 780px) {
  .firstRow .portfolioOne {
    width: 60%;
  }
}

.firstRow .portfolioOne video {
  height: 100%;
  margin-left: -30px;
}

@media (min-width: 540px) {
  .firstRow .portfolioOne video {
    height: 120%;
    margin-top: -40px;
    margin-left: 0;
  }
}

@media (min-width: 780px) {
  .firstRow .portfolioOne video {
    height: 100%;
    margin-top: 0;
  }
}

@media (min-width: 1080px) {
  .firstRow .portfolioOne video {
    height: 114%;
    margin-top: -25px;
  }
}

.firstRow .portfolioTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 780px) {
  .firstRow .portfolioTwo {
    width: 37%;
  }
}

.firstRow .portfolioTwo video {
  height: 100%;
  margin-right: -30px;
}

@media (min-width: 540px) {
  .firstRow .portfolioTwo video {
    height: 120%;
    margin-top: -30px;
    margin-right: 0;
  }
}

@media (min-width: 540px) and (min-width: 780px) {
  .firstRow .portfolioTwo video {
    height: 100%;
    margin-top: 0;
    margin-right: -45px;
  }
}

@media (min-width: 540px) and (min-width: 1080px) {
  .firstRow .portfolioTwo video {
    margin-right: -30px;
  }
}

@media (min-width: 780px) {
  .secondRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.secondRow .portfolioThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 780px) {
  .secondRow .portfolioThree {
    width: 37%;
  }
}

.secondRow .portfolioThree video {
  height: 100%;
  margin-left: -30px;
}

@media (min-width: 540px) {
  .secondRow .portfolioThree video {
    height: 120%;
    margin-top: -40px;
    margin-left: 0;
  }
}

@media (min-width: 780px) {
  .secondRow .portfolioThree video {
    height: 100%;
    margin-top: 0;
    margin-left: -30px;
  }
}

@media (min-width: 1080px) {
  .secondRow .portfolioThree video {
    margin-left: -25px;
  }
}

.secondRow .portfolioFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 780px) {
  .secondRow .portfolioFour {
    width: 60%;
  }
}

.secondRow .portfolioFour video {
  height: 100%;
  margin-right: -30px;
}

@media (min-width: 540px) {
  .secondRow .portfolioFour video {
    height: 119%;
    margin-top: -35px;
    margin-right: 0;
  }
}

@media (min-width: 780px) {
  .secondRow .portfolioFour video {
    height: 100%;
    margin-top: 0;
  }
}

@media (min-width: 1080px) {
  .secondRow .portfolioFour video {
    height: 114%;
    margin-top: -25px;
  }
}

@media (min-width: 540px) {
  .portfolioOne:hover .overlayOne,
  .portfolioTwo:hover .overlayTwo,
  .portfolioThree:hover .overlayThree,
  .portfolioFour:hover .overlayFour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
}

.contact {
  background-color: #fff7f7;
  padding: 50px 0;
  font-size: 1.6rem;
  height: auto;
  z-index: -10;
}

@media (min-width: 780px) {
  .contact {
    padding: 100px 0 50px 0;
  }
}

.contact h2 {
  color: #e96269;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

.contact h2::before {
  content: "";
  position: absolute;
  background-color: #ffe3e3;
  -webkit-box-shadow: 0 0 8px #ffd9d9;
          box-shadow: 0 0 8px #ffd9d9;
  height: 18px;
  left: 5px;
  bottom: 0;
  width: 240px;
  z-index: -1;
}

.contact .contactContainer {
  padding-bottom: 20px;
}

@media (min-width: 780px) {
  .contact .contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact .contactContainer .contactInformation,
.contact .contactContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contactContainer .contactInformation {
  width: 100%;
}

.contact .contactContainer .contactInformation p {
  padding-top: 20px;
}

.contact .contactContainer .contactInformation .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

.contact .contactContainer .contactInformation .socialIcons li {
  font-size: 2.4rem;
}

.contact .contactContainer .contactInformation .socialIcons li a {
  color: #ff7171;
}

.contact .contactContainer .contactInformation .socialIcons li a:hover {
  color: #bb3131;
}

@media (min-width: 780px) {
  .contact .contactContainer .contactInformation {
    width: 30%;
    margin-right: 10%;
  }
}

.contact .contactContainer .contactForm {
  width: 100%;
}

@media (min-width: 780px) {
  .contact .contactContainer .contactForm {
    width: 60%;
  }
}

.contact .contactContainer .contactForm input,
.contact .contactContainer .contactForm textarea {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ffd5d5;
  border-radius: 5px;
  resize: none;
}

.contact .contactContainer .contactForm textarea {
  height: 200px;
}

.contact .contactContainer .contactForm button {
  background-color: #ff7171;
  border: 2px solid #ff7171;
  padding: 10px 15px;
  margin: 10px 0;
  width: auto;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.contact .contactContainer .contactForm button:hover {
  background-color: white;
  color: #ff7171;
  border: 2px solid #ffd5d5;
}

footer {
  width: 100%;
  position: relative;
  background-color: #ff9090;
  margin: 0 auto;
  bottom: 0px;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

footer p {
  margin: 0;
  padding: 0;
}
